
@import url('https://fonts.googleapis.com/css?family=Jua');

body{
    background-image: url("../image/bg_index.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;    /*배경의 위치*/
    background-attachment: fixed;   /*배경의 고정 여부*/
}

.button_main{
    background: url("../image/main.png");
    width: 54px;
    height: 54px;
    border-style: solid;
    border-color:gray;
    border-radius: 6px;
    margin-top: 1%;
    margin-left: 1.5%;
    position: absolute;
}
.button_main:hover{
    cursor: pointer;
    background: url("../image/main-1.png");
}

.img-menu_title{
    background: url("../image/menu_title.png");
    background-size:100% 100%;
    width: 822px;
    height: 240px;
    margin-top: 2%;
}
.img-menu_title:hover{
    cursor: pointer;
    background: url("../image/menu_title-1.png");
    background-size:100% 100%;
    width: 822px;
    height: 240px;
}

.img-button{
    width: 400px; 
    height: 320px;
    margin:15px;
    border-style: none;
}
.img-button:hover{
    cursor: pointer;
    background-size: 100% 100%;
}

.img-button1 {
    background: url("../image/EjrqhRdl.png");
}
.img-button1:hover{
    background: url("../image/EjrqhRdl-1.png");
}
.img-button2 {
    background: url("../image/tnseo.png");
}
.img-button2:hover {
    background: url("../image/tnseo-1.png");
}
.img-button3 {
    background: url("../image/dhepd.png");
}
.img-button3:hover {
    background: url("../image/dhepd-1.png");
}
.img-button4 {
    background: url("../image/xnlrla.png");
}
.img-button4:hover {
    background: url("../image/xnlrla-1.png");
}

.text-menu{
    font-family: 'Jua', sans-serif;
    background-color: white;
    border-style: outset;   /*테두리*/
    font-size: 35px;
    color:black;
    border-color: black;
    text-align: center;     /*글자 가운데 정렬*/
    padding: 20px 30px;
    border-radius: 12px;
    text-decoration:none;   /*밑줄 제거*/
}
.text-menu:hover{
    cursor: pointer;        /*클릭을 할 수 있다는 커서로 바꿈*/
    opacity: 0.6;
}

.text-menu1{
    margin-right: 130px;
}
.text-menu2{
    margin-right: 140px;
    margin-left: 60px;
}
.text-menu3{
    margin-right: 100px;
    margin-left: 70px;
}
.text-menu4{
    margin-left: 120px;
}
